{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "tabWidth": 2,
  "tabs": false,
  "importOrder": [
    "^@nestjs/common$",
    "^@nestjs(.*)$",
    "^@prisma(.*)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "strategy$",
    "guard$",
    "module$",
    "controller$",
    "service$",
    "^[..]",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "5.1.3",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}